{% include "base.html" %}

{% block content %} 

    <div class="all-notes">
    <div>
        {% if not Category == None %}
        <div id="category">
            <h1>Категория: {{ Category }}</h1>
        </div>
        {% endif %}
        {% if all_notes %}
            {% for i in all_notes %}
                {% if not i.done %}
                    <div class="notes" id="notes{{ i.id }}">
                {% else %}
                    <div class="notes-done" id="notes{{ i.id }}">
                {% endif %}
                    {% if not i.done %}
                        <div class="notes-text">
                            <h1 class="article">{{ i.article }}</h1>
                            <p class="body"> {{ i.body }}</p>
                        </div>
                    {% else %}
                        <div class="notes-text">
                            <h1 class="article-done">{{ i.article }}</h1>
                            <p class="body-done"> {{ i.body }}</p>
                        </div>
                    {% endif %}
                    <div class="checkbox-delete">
                        {% if not i.done %}
                            <form>
                                <input type="checkbox" class="checkbox-noactive" onclick="ajax_func('{{ i.id }}')">
                            </form>
                        {% else %}
                            <form>
                                <input type="checkbox" checked class="checkbox-active" onclick="ajax_func('{{ i.id }}')">
                            </form>
                        {% endif %}
                        
                        <input type="submit" value="Удалить" id="delete" onclick="deleteNotes('{{ i.id }}')">
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="text-no-notes">
                <p>В данной категории нет задач</p>
            </div>
        {% endif %}
        <div class="create-btn">
            <a id="create-notes" >Создать</a>
        </div>
    </div>
    </div>
        <div id="form-create-notes">
            <form action="" method="post" id="form-create">
                <button type="button" style="font-size: 17px;" id="back-btn">← Назад</button>

                {% csrf_token %}
        
                <p class="form-label">{{ form.article.label }}:</p>
                <p>{{ form.article }}</p>
                <p class="form-label">{{ form.body.label }}:</p>
                <p>{{ form.body }}</p>
                <p>{{ form.category.label }}: {{ form.category }}</p></p> 

                <input type="submit" value="Создать" style="font-size: 17px;">
            </form>
        </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const createBtn = document.getElementById('create-notes')
    const backBtn = document.getElementById('back-btn')

    function form(e){
        form = document.querySelector("#form-create-notes");
        body = document.querySelector('.all-notes');
        form.style.animation = 'ani 1s forwards'
        form.style.display = 'flex'
        form.style.pointerEvents = 'all'
        body.style.animation = 'blur 1s forwards'

    }

    function formNone(e){
        form = document.querySelector("#form-create-notes");
        body = document.querySelector('.all-notes');
        form.style.animation = 'ani-none 1s forwards'
        body.style.animation = 'blur-none 1s forwards'
    }

    createBtn.addEventListener('click', form);
    backBtn.addEventListener('click', formNone)

    function ajax_func(id) {
        $.ajax({
            url: "/onclick/"+id+"/",
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Не забудьте про CSRF-токен
            },
            success: function (response) {
                div_id = "notes" + id
                if (response.boolean == true) {
                    div_parent = document.getElementById(div_id)
                    div_parent.className = 'notes-done'

                    h1 = div_parent.querySelector('h1')
                    p = div_parent.querySelector('p')

                    //h1.className = 'strikethrough-article';
                    //p.className = 'strikethrough-body';

                    h1.classList.add('article-done');
                    p.classList.add('body-done');
                }
                else {
                    div_parent = document.getElementById(div_id)
                    div_parent.className = 'notes'

                    h1 = div_parent.querySelector('h1')
                    p = div_parent.querySelector('p')

                    h1.className = 'article'
                    p.className = 'body'
                }
            },
        });
        return false;
    }

    function deleteNotes(id){
        $.ajax({
            url: "/delete/" + id + "/",
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'  // Не забудьте про CSRF-токен
            },
            success: function (response) {
                div_id = "notes" + id
                if (response.delete_status == true) {
                    div_parent = document.getElementById(div_id)
                    div_parent.style.display = 'none'
                    div_parent.style.pointerEvents = 'none'
                }
            },
        });
        return false;

    }



</script>

{% endblock %}