.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: red;
}

.nav > a {
    text-decoration: none;
    color: black;
}

.myCheckbox{
    transform: scale(1.5);
    margin-bottom: 20px;
}

.all-notes{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-done{
    opacity: 0.6;
    text-decoration: line-through;
}
.body-done{
    opacity: 0.6;
    text-decoration: line-through;
}